 body {
	 background-color: black;
 }
h1   {
	color: white;}



p {
	color: white;
	text-indent: 5em;
	font-family: courier new;]
	margin 50px 200px;
	<!--
	margin-left: 200px;
	margin-top: 50px;
-->
}
.fixedButton{
	position: fixed;
    bottom: 0px;
    right: 0px; 
    padding: 20px;
    }
.roundedFixedBtn{
	height: 60px;
	line-height: 80px;  
	width: 60px;  
	font-size: 2em;
	font-weight: bold;
	border-radius: 50%;
	background-color: black;
	color: white;
	text-align: center;
	cursor: pointer;
}
		
button {
	position: fixed;
	bottom: 0px;
	right: 0px;
	padding: 20px;
	border: none;
	color:white;
	background-color:black;
	text-align: center;
	cursor: pointer;
}  
/*
.button1 {	
	color: white;
	background-color: black;
	margin-bottom:0%;
	margin-left:10%;
	}
/*
.button1:hover {
	background-color: black;
	color: red;
	margin-bottom:0%;
	margin-left:10%;
}

.button2 {
	color: white;
	background-color: black;
	margin-bottom:0%;
	margin-left:10%;
	}

.button2:hover {
	background-color: black;
	color: red;
	margin-bottom:0%;
	margin-left:10%;
}
*/
